{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/signin.css') }}">
{% endblock %}

{% block fos_user_content %}

    <body class="text-center">

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        {% trans_default_domain 'FOSUserBundle' %}
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

        <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" placeholder="Username"/>

        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="Password" />
        <div class="checkbox mb-3">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>

    <div>

        <form name="fos_user_registration_form" method="post" action="/register/" class="fos_user_registration_register">
            <div id="fos_user_registration_form"><div><label for="fos_user_registration_form_email" class="required">Email</label><input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required"></div><div><label for="fos_user_registration_form_age" class="required">Age</label><input type="number" id="fos_user_registration_form_age" name="fos_user_registration_form[age]" required="required"></div><div><label for="fos_user_registration_form_username" class="required">Username</label><input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}"></div><div><label for="fos_user_registration_form_plainPassword_first" class="required">Password</label><input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" autocomplete="new-password"></div><div><label for="fos_user_registration_form_plainPassword_second" class="required">Repeat password</label><input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" autocomplete="new-password"></div><input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="BVW2dO85KcXIZ16TcqxO0gt04u5jXJtOWoRHtPEdDf8"></div>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>
    </div>

    </body>

{% endblock fos_user_content %}